*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.iml
.classpath
.project
out
classes
gen-external-apklibs
.DS_Store
.gradle
local.properties
build/
buildSrc/build
*.apk
*.hprof
infer-out/
captures/
*.swp

strings/src/main/generated/
.externalNativeBuild

